#text-content {
    text-align: justify;
}

#text-content table * {
    border-width: 1px;
    padding: 6px;
}

#text-content a {
    color: hsl(var(--primary));
}

#text-content a:hover {
    text-decoration: underline;
}

#text-content ul li {
    list-style: disc;
    margin-left: 32px;
}

#text-content ol li {
    list-style: decimal;
    margin-left: 32px;

}