#text-content {}

#text-content a {
    color: hsl(var(--primary));
}

#text-content a:hover {
    text-decoration: underline;
}

#text-content ul li {
    list-style: disc;
    margin-left: 32px;
}

#text-content ol li {
    list-style: decimal;
    margin-left: 32px;

}

#shadow {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.804359243697479) 0%, rgba(0,0,0,0) 100%);
}

#bottom-shadow {
    background: hsl(var(--background));
    background: linear-gradient(0deg, hsl(var(--background)) 20%, rgba(255,255,255,0) 100%);
}